* {
    top: 0;
    left: 0;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgb(253, 251, 251);
}

header {
    position: fixed;
    top: 0;
    background-color: red;
}

#minha_foto {
    width: 100px;
}

#nav-links-li {
    list-style: none;
}